/*Header*/
.logo {
    height: 58px;
width: 134px;
left: 24px;
top: 28px;
border-radius: 0px;

}
.img{
    width: 100%;
    height: 100%;
}
.icono-menu{
    color: #859C41;
    font-size: 30px;
    margin-top: 1rem;
    width: 36px;

}
#btn-menu{
    border: 0px;
}
.ul-menu{
    margin-top: 2rem;
}

.nav-item{
    display: flex;
    gap: 10px;
    align-items: center;
}
.div-img-item{
    width: 25px;
    height: 25px;
}
.img-item{
    width: 100%;
    height: 100%;
}
#link-nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #CC2929;
}
.div-icon-card{
    background-color: #CC2929;
}

/*Section Servicios*/
.div-tit-servicios{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.servicios-tit{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: #CC2929;
}
.div-card-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}
.card-title{
    font-weight: bold;
}