.sec-contacto {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
textarea {
  left: 0px;
  top: 0px;
  border: 3px solid #edaa2d;
  border-radius: 10px;
  resize: none !important;
}
form input:focus {
  outline: none;
  border: 3px solid #859c41;
}
textarea:focus {
  outline: none;
  border: 3px solid #859c41;
}

textarea {
  height: 200px;
}
.div-btn-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.btn-submit {
  background: #cc2929;
  border-radius: 10px;
  border-color: #cc2929;
  width: 50%;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: aliceblue;
  font-size: 22px;
}
.div-sec-contacto {
  display: flex;
  flex-direction: column;
}

.subtit-contacto {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.icon-contacto {
  color: #edaa2d;
  height: 28.5px;
  width: 39px;
  left: 4.5px;
  top: 10.546875px;
  border-radius: 0px;
  font-size: 30px;
  margin-right: 1vw;
}
.icon-contacto:hover{
  color: #859c41;
  scale: 1.2;
}
.div-form {
  display: block;
}

@media only screen and (min-width: 690px) {
  .div-sec-contacto {
    flex-direction: row;
  }

  .subtitulo {
    font-size: 40px;
  }
  .imgSubtitulo {
    width: 50px;
    height: 50px;
  }
  .divImgSub {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.detallesContacto {
  width: 100%;
}
.detallesContacto:first-child{
  background-color: #f2f0ea;
}
@media only screen and (min-width: 768px) {
  .sec-contacto {
    margin-left: 1.2rem;
  }
  
  .div-form {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  form input,
  textarea {
    width: 50vw;
    left: 0px;
    top: 0px;
    border: 3px solid #edaa2d;
    border-radius: 10px;
  }
  .seccionContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-contacto{
    font-size: 3vw;
  }
}
