footer {
  width: 100%;
  height: 35vh;
  background-image: url("../img/fondoFooter.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
    width: 70%;
    position: absolute;
    z-index: 20;
}

.capaFooter {
    z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
  position: relative;
}

@media all and (min-width: 700px) {}

@media all and (min-width: 992px) {
    footer{
        height: 70vh;
    }
    footer img{
        width: 40%;
    }
}