.fondoServicio {
  background-image: url(../img/servicios\ mobile\ 2.png);
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.div-card-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.card-body {
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: space;
  flex-direction: column;
  position: relative;
}
.card-title {
  font-weight: bold;
}
.imagenCard {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imagenCard img {
  width: 27vw;
  height: 27vw;
  border-radius: 50%;
}
.tamañoCartas {
  height: 50vh!important;
  width: 90vw!important;
  overflow: hidden;
  border: none !important;
}
.informacionServicioHover {
  position: absolute;
  z-index: 40;
  background-color: #edaa2d;
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  cursor: pointer;
}
.informacionServicioHover p {
  font-size: 1rem;
  max-height: 80%;
  padding: 4vw;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informacionServicioHover:hover {
  opacity: 1;
}
.sec-servicios{
  padding: 0!important;
  margin: 0!important;
  align-items: center;
}
@media all and (min-width: 700px) {
  .hojitaServicio {
    width: 10vw;
    height: 10vw;
  }
  .servicios-tit {
    font-size: 10vw;
  }
  .tamañoCartas {
    width: 80vw;
    height: 60vw !important;
  }
  .imagenCard {
    height: 30vw;
    padding-bottom: 2vw;
  }
  .imagenCard img {
    width: 27vw;
    height: 27vw;
  }
  .card-title {
    font-size: 4vw;
  }
  .card-text {
    font-size: 2.5vw;
  }
  .informacionServicioHover h5{
    font-size: 4vw;
  }
  .informacionServicioHover p{
    font-size: 2.5vw;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .subtitulo{
      font-size: 40px;
    }
    .imgSubtitulo{
      width: 50px;
      height: 50px;
    }
    .divImgSub{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
}
@media all and (min-width: 992px) {
  .hojitaServicio {
    width: 3vw;
    height: 3vw;
  }
  .servicios-tit {
    font-size: 3vw;
  }
  .tamañoCartas {
    width: 29vw;
    height: 19vw !important;
    border-radius: 1.5vw !important;
  }
  .fondoServicio {
    min-height: 100vh;
    background-image: url(../img/fondo\ servicios.png);
  }
  .imagenCard {
    height: 8vw;
  }
  .imagenCard img {
    width: 6vw;
    height: 6vw;
  }
  .card-body{
    gap: 0;
  }
  .card-title {
    font-size: 1.6vw;
  }
  .card-text {
    font-size: 1vw;
  }
  .sec-servicios {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contenedorDeCartasServicio {
    height: 70vh;
    width: 90vw;
  }
  .informacionServicioHover{
    padding-top: 1.5vw;
  }
  .informacionServicioHover h5{
    font-size: 1.5vw;
  }
  .informacionServicioHover p{
    font-size: 1vw;
    max-height: 90%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  }
  .div-card-servicios{
    align-items: center;
  }
}